<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="./assets/ICON/[removal.ai]_tmp-62ea997097729.png" width="60">Bonjour {{ username }} ! 
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-warning mx-3 " (click)="changerProjet()">
           Revenir à la page d'accueil
        </button>     
       </li>

      <li class="nav-item dropdown">
       
      </li>
    </ul>
    <form class="form-inline ml-auto">
      <button type="button" class="btn btn-outline-info ml-3 " (click)="logout()">
        Se déconnecter
      </button>
    </form>

  </div>
</nav>
