/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 30%;
}
.tcenter {
  text-align: center;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  color: #f1f1f1;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  padding: 20px;
  text-align: center;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
